.rental-characteristics {
	&__wrapper {
		@include flex-simple;

		@include mq(lg) {
			flex-direction: column;
		}
	}

	&__info {
		width: 100%;

		@include mq(lg, min) {
			max-width: 540px;
		}
	}

	.image-slider {
		@include mq(lg, min) {
			width: 57%;
		}
	}

	.characteristics {
		&:not(:last-child) {
			margin-bottom: 32px;

			@include mq(lg) {
				margin-bottom: 20px;
			}
		}
	}

	&__bottom {
		@include flex-alignment(30px, space-between, center);
	}
}
