<article class="person-card">
    <div class="person-card__image">
        <picture>
            <source srcset="img/blocks/our-team/@img.avif 1x, img/blocks/our-team/@img@2x.avif 2x" type="image/avif">
            <source srcset="img/blocks/our-team/@img.webp 1x, img/blocks/our-team/@img@2x.webp 2x" type="image/webp">
            <img src="img/blocks/our-team/@img.jpg" srcset="img/blocks/our-team/@img@2x.jpg 2x" alt="@alt" loading="lazy">
        </picture>
    </div>
    <div class="person-card__content">
        <h3 class="person-card__title subtitle">@title</h3>
        <span class="person-card__subtitle">@subtitle</span>
        <ul class="person-card__items">
            <li class="person-card__item">
                <a class="person-card__link" href="tel:@hrefTel">@tel</a>
            </li>
            <li class="person-card__item">
                <a class="person-card__link" href="mailto:@mailto">@mailto</a>
            </li>
        </ul>
    </div>
</article>