<div class="planning-slider">
    <div class="planning-slider__swiper swiper">
        <ul class="planning-slider__items swiper-wrapper">
            <li class="planning-slider__item swiper-slide">
                <a class="planning-slider__image" href="img/blocks/plans/1@2x.png" data-fancybox="planning-gallery">
                    <picture>
                        <source srcset="img/blocks/plans/1.avif 1x, img/blocks/plans/1@2x.avif 2x" type="image/avif">
                        <source srcset="img/blocks/plans/1.webp 1x, img/blocks/plans/1@2x.webp 2x" type="image/webp">
                        <img src="img/blocks/plans/1.png" srcset="img/blocks/plans/1@2x.png 2x" alt="Планировка первого этажа" loading="lazy">
                    </picture>
                </a>
                <h3 class="planning-slider__subtitle subtitle">
                    Первый этаж
                </h3>
            </li>
            <li class="planning-slider__item swiper-slide">
                <a class="planning-slider__image" href="img/pages/planning/1@2x.png" data-fancybox="planning-gallery">
                    <picture>
                        <source srcset="img/pages/planning/1.avif 1x, img/pages/planning/1@2x.avif 2x" type="image/avif">
                        <source srcset="img/pages/planning/1.webp 1x, img/pages/planning/1@2x.webp 2x" type="image/webp">
                        <img src="img/pages/planning/1.png" srcset="img/pages/planning/1@2x.png 2x" alt="Планировка первого этажа" loading="lazy">
                    </picture>
                </a>
                <h3 class="planning-slider__subtitle subtitle">
                    Второй этаж
                </h3>
            </li>
        </ul>
    </div>
    <div class="planning-slider__buttons">
        <button class="planning-slider__button planning-slider__button--prev swiper-button-prev" type="button">
            <svg aria-hidden>
                <use xlink:href="img/sprite.svg#arrow">
            </svg>
        </button>
        <button class="planning-slider__button planning-slider__button--next swiper-button-next" type="button">
            <svg aria-hidden>
                <use xlink:href="img/sprite.svg#arrow">
            </svg>
        </button>
    </div>
</div>