@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: '#{$font-family}';
		src:
			url('../fonts/#{$url}.woff2') format('woff2'),
			url('../fonts/#{$url}.woff') format('woff');
		font-weight: #{$weight};
		font-display: swap;
		font-style: normal;
	}
}

// Formular
@include font-face(Formular, Formular-Regular, 400);
@include font-face(Formular, Formular-Medium, 500);
@include font-face(Formular, Formular-Bold, 700);

// Onset
@include font-face(Onest, Onest-Regular, 400);
@include font-face(Onest, Onest-Medium, 500);
@include font-face(Onest, Onest-SemiBold, 600);
