.breadcrumbs {
	padding-top: 8px;
	padding-bottom: 8px;

	&__items {
		@include flex-simple(10px);

		overflow-x: auto;
		padding-bottom: 8px;
	}

	&__item {
		padding-left: 1px;
		white-space: nowrap;

		&:not(:last-child) {
			position: relative;
			padding-right: 16px;
			color: var(--color-blue-300);

			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				border-radius: 50%;
				width: 6px;
				height: 6px;
				background-color: var(--color-blue-100);
				transform: translateY(-50%);
			}
		}
	}

	&__link {
		@include link;

		border-radius: 2px;
	}
}
