.cookie {
	@include flex-alignment(24px);

	position: fixed;
	right: 50%;
	bottom: 16px;
	z-index: 20;
	border-radius: 8px;
	padding: 16px 28px;
	width: 100%;
	max-width: 600px;
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.36);
	font-size: 14px;
	background-color: var(--color-white);
	transform: translateX(50%);

	&--hidden {
		display: none;
	}
}
