.form {
	@include flex-simple(20px, column);

	border-radius: 12px;
	padding: 24px 32px;
	font-family: var(--font-secondary);
	background-color: var(--color-white);

	@include mq(md) {
		padding: 24px;
	}

	&__title {
		display: inline-block;
		font-family: var(--font-secondary);
		font-weight: 500;
		font-size: 24px;
		line-height: 1.2;
		color: var(--color-orange-500);

		@include mq(md) {
			font-size: 20px;
		}

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__text {
		line-height: 1.2;
		letter-spacing: -0.03em;
		color: var(--color-blue-300);
	}

	&__accent {
		font-weight: 500;
		text-transform: uppercase;
		color: var(--color-orange-500);
	}

	&__body {
		@include flex-simple(16px, column);
	}

	&__item {
		width: 100%;

		&--checkbox {
			position: relative;
			display: flex;
			font-size: 12px;
			color: var(--color-blue-300);
			gap: 12px;

			@media (any-hover: hover) {
				&:hover {
					.form__hidden:not(:focus, :checked) + .form__visible {
						border-color: var(--color-blue-70);
					}
				}
			}

			a {
				@include link;

				border-radius: 2px;
				text-decoration: underline;
				text-decoration-color: transparent;
				color: var(--color-orange-500);
				transition:
					color 0.3s,
					box-shadow 0.3s,
					text-decoration-color 0.3s;

				@media (any-hover: hover) {
					&:hover {
						text-decoration-color: currentcolor;
					}
				}
			}
		}
	}

	&__hidden {
		@include hidden;

		&:checked + .form__visible {
			border-color: transparent;
			background-color: var(--color-orange-500);

			&::before {
				opacity: 1;
			}
		}

		&:focus-visible + .form__visible {
			border-color: var(--color-orange-500);
		}
	}

	&__visible {
		position: relative;
		flex-shrink: 0;
		flex-basis: 20px;
		border: 1px solid var(--color-blue-50);
		border-radius: 4px;
		height: 20px;
		background-color: var(--color-grey-50);
		transition:
			background-color 0.3s,
			border-color 0.3s;

		&::before {
			@include bg-properties(contain);

			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			width: 16px;
			height: 16px;
			background-image: url('../img/icons/check.svg');
			opacity: 0;
			transform: translate(-50%, -50%);
			transition: opacity 0.3s;
		}
	}

	&__field {
		outline: 0;
		border: 1px solid var(--color-blue-50);
		border-radius: 8px;
		padding: 16px;
		width: 100%;
		font-size: 14px;
		line-height: 1.2;
		background-color: var(--color-grey-50);
		transition: border-color 0.3s;

		&::placeholder {
			color: var(--color-grey-200);
			transition: color 0.3s;
		}

		&:focus-visible:not(&--error) {
			border-color: var(--color-orange-500);
		}

		@media (any-hover: hover) {
			&:hover:not(:focus, &--error) {
				border-color: var(--color-blue-70);

				&::placeholder {
					color: var(--color-blue-200);
				}
			}
		}

		&--error {
			border-color: var(--color-red-500) !important;
			color: var(--color-red-500) !important;
			background-color: var(--color-red-100) !important;
		}
	}

	&__button {
		align-self: flex-start;
		width: 100%;
		min-height: 50px;
	}

	.file-input.file-extended {
		@include flex-simple(4px, column);
	}

	.webform-field-upload-list {
		margin: 0;
		padding-left: 20px;
		color: var(--color-white);

		a.upload-file-name {
			margin: 0;
			margin-right: auto;
			color: var(--color-white);
		}

		.upload-file-size {
			color: var(--color-orange-100);
		}

		.webform-field-item-wrap {
			display: flex;
		}

		del {
			color: var(--color-orange-100);
		}
	}

	.webform-field-upload {
		order: -1;
		border-color: var(--color-orange-200);
		border-radius: 8px;
		padding: 16px;
		width: auto;
		height: 50px;
		line-height: 1.2;
		background-color: var(--color-orange-100);

		.webform-small-button {
			position: static;
			font-size: 14px;
			line-height: 1.2;
			color: var(--color-orange-200);
		}
	}

	.webform-field-upload-notice {
		margin-top: 0;
		font-style: normal;
		color: var(--color-orange-100);
	}

	.just-validate-error-label {
		display: none;
	}
}
