.hero {
	@include bg-properties;

	position: relative;
	display: flex;
	padding: 80px 0 160px;
	min-height: calc(var(--full-screen) - var(--header-height));
	color: var(--color-white);

	@include mq(lg) {
		padding: 30px 0;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
	}

	&::before {
		inset: 0;
		background-image: linear-gradient(
			331.78deg,
			rgba(32, 32, 32, 0) 27.53%,
			rgba(32, 32, 32, 0.58) 65.72%
		);
	}

	&::after {
		bottom: 0;
		width: 100%;
		height: 50%;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
		opacity: 0;

		@include mq(lg) {
			opacity: 1;
		}
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		height: 100%;
		gap: 30px;

		@include mq(lg) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__heading {
		@include mq(md, min) {
			max-width: 836px;
		}

		&:not(:last-child) {
			margin-bottom: 16px;

			@include mq(md) {
				margin-bottom: 12px;
			}
		}
	}

	&__text {
		@include paragraph-mb(8px);

		font-family: var(--font-secondary);
		font-size: 20px;

		@include mq(lg) {
			font-size: 16px;
			line-height: 1.3;
		}

		@include mq(md, min) {
			max-width: 540px;
		}
	}

	&__items {
		list-style: outside;
		padding-left: 20px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__mobile {
		display: none;

		@include mq(lg) {
			@include flex-simple(10px, column);
		}
	}

	&__sub {
		@include flex-simple(10px, column);
	}

	&__subtitle {
		font-weight: 700;
		color: var(--color-white);
	}

	&__accent {
		color: var(--color-orange-500);
	}

	&__btn {
		align-self: self-start;

		@include mq(sm) {
			align-self: auto;
		}

		span {
			@include line-clamp(1);
		}
	}

	.form {
		align-self: flex-start;
		max-width: 345px;

		@include mq(lg) {
			display: none;
		}

		&__field {
			color: var(--color-blue-300);
		}
	}
}
