.promo {
	padding: 40px 0;
	color: var(--color-white);
	background-color: var(--color-orange-500);

	&__wrapper {
		@include mq(lg, min) {
			position: relative;
			padding-left: 140px;
		}

		&::before {
			@include mq(lg, min) {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100px;
				height: 114px;
				background-image: url('../img/decor/application.svg');
			}
		}
	}

	&__title {
		margin-bottom: 16px;
		font-family: var(--font-secondary);
		font-weight: 500;
		font-size: 24px;
		line-height: 1.3;

		@include mq(lg) {
			font-size: 20px;
		}
	}

	.form {
		padding: 0;
		background-color: transparent;
		gap: 16px;

		@include mq(md, min) {
			flex-flow: row wrap;
		}

		&__items {
			display: flex;
			flex-basis: 74%;
			gap: 16px;

			&--large {
				flex-basis: 80%;

				@include mq(lg) {
					flex-basis: 100%;
				}

				@include mq(md) {
					flex-direction: column;
				}
			}

			@include mq(sm) {
				flex-basis: 100%;
				flex-direction: column;
			}
		}

		.form__items--large + .form__button {
			flex-basis: 18%;

			@include mq(lg) {
				flex-basis: 100%;
				order: 1;
			}
		}

		&__item {
			&--checkbox {
				color: var(--color-orange-100);

				@media (any-hover: hover) {
					&:hover {
						.form__visible {
							&:not(:focus, :checked) {
								border-color: var(--color-blue-70);
							}
						}
					}
				}

				a {
					color: var(--color-white);

					&:focus-visible {
						box-shadow: 0 0 0 1px var(--color-white);
					}

					@media (any-hover: hover) {
						&:hover {
							color: var(--color-white);
						}
					}
				}
			}
		}

		&__field {
			border-color: var(--color-orange-200);
			color: var(--color-blue-300);
			background-color: var(--color-orange-100);

			&::placeholder {
				color: var(--color-orange-200);
			}

			&--file {
				border-color: var(--color-orange-100);
				background-color: transparent;
			}
		}

		&__hidden {
			&:checked + .form__visible {
				background-color: var(--color-orange-100);
			}

			&:focus-visible + .form__visible {
				border-color: var(--color-white);
			}
		}

		&__visible {
			border-color: transparent;
			background-color: var(--color-orange-100);

			&::before {
				filter: invert(51%) sepia(40%) saturate(6275%) hue-rotate(357deg)
					brightness(102%) contrast(94%);
			}
		}

		&__button {
			flex-basis: 24%;
			border-radius: 8px;

			@include mq(md) {
				order: 1;
			}
		}

		&__subtext {
			font-size: 12px;
			line-height: 1.3;
			color: var(--color-orange-100);

			a {
				&:focus-visible {
					box-shadow: 0 0 0 1px var(--color-white);
				}

				@media (any-hover: hover) {
					&:hover {
						color: var(--color-white);
					}
				}
			}
		}
	}
}
