<section class="brands section">
    <div class="brands__wrapper">
        <div class="container">
            <div class="brands__header">
                <h2 class="brands__title title">
                    Нам <span class="title__accent">доверяют</span>
                </h2>
                <div class="brands__buttons">
                    <button class="brands__button brands__button--prev swiper-button-prev" type="button">
                        <svg aria-hidden>
                            <use xlink:href="img/sprite.svg#arrow">
                        </svg>
                    </button>
                    <button class="brands__button brands__button--next swiper-button-next" type="button">
                        <svg aria-hidden>
                            <use xlink:href="img/sprite.svg#arrow">
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="brands__swiper swiper">
            <ul class="brands__items swiper-wrapper">
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/avtodor.avif 1x, img/blocks/brands/avtodor@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/avtodor.webp 1x, img/blocks/brands/avtodor@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/avtodor.png" srcset="img/blocks/brands/avtodor@2x.png 2x" alt="Автодор" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/belaz.avif 1x, img/blocks/brands/belaz@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/belaz.webp 1x, img/blocks/brands/belaz@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/belaz.png" srcset="img/blocks/brands/belaz@2x.png 2x" alt="Белаз" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/tmk.avif 1x, img/blocks/brands/tmk@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/tmk.webp 1x, img/blocks/brands/tmk@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/tmk.png" srcset="img/blocks/brands/tmk@2x.png 2x" alt="ТМК" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/railway.avif 1x, img/blocks/brands/railway@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/railway.webp 1x, img/blocks/brands/railway@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/railway.png" srcset="img/blocks/brands/railway@2x.png 2x" alt="РЖД" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/transneft.avif 1x, img/blocks/brands/transneft@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/transneft.webp 1x, img/blocks/brands/transneft@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/transneft.png" srcset="img/blocks/brands/transneft@2x.png 2x" alt="Транснефть" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/rosneft.avif 1x, img/blocks/brands/rosneft@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/rosneft.webp 1x, img/blocks/brands/rosneft@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/rosneft.png" srcset="img/blocks/brands/rosneft@2x.png 2x" alt="Роснефть" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/sibshakhtostroy.avif 1x, img/blocks/brands/sibshakhtostroy@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/sibshakhtostroy.webp 1x, img/blocks/brands/sibshakhtostroy@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/sibshakhtostroy.png" srcset="img/blocks/brands/sibshakhtostroy@2x.png 2x" alt="Сибшахтострой" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/gazprom.avif 1x, img/blocks/brands/gazprom@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/gazprom.webp 1x, img/blocks/brands/gazprom@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/gazprom.png" srcset="img/blocks/brands/gazprom@2x.png 2x" alt="Газпром" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/service-company.avif 1x, img/blocks/brands/service-company@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/service-company.webp 1x, img/blocks/brands/service-company@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/service-company.png" srcset="img/blocks/brands/service-company@2x.png 2x" alt="Партнеры красноярска Сервисная компания" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/avtodor.avif 1x, img/blocks/brands/avtodor@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/avtodor.webp 1x, img/blocks/brands/avtodor@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/avtodor.png" srcset="img/blocks/brands/avtodor@2x.png 2x" alt="Автодор" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/belaz.avif 1x, img/blocks/brands/belaz@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/belaz.webp 1x, img/blocks/brands/belaz@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/belaz.png" srcset="img/blocks/brands/belaz@2x.png 2x" alt="Белаз" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/tmk.avif 1x, img/blocks/brands/tmk@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/tmk.webp 1x, img/blocks/brands/tmk@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/tmk.png" srcset="img/blocks/brands/tmk@2x.png 2x" alt="ТМК" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/railway.avif 1x, img/blocks/brands/railway@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/railway.webp 1x, img/blocks/brands/railway@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/railway.png" srcset="img/blocks/brands/railway@2x.png 2x" alt="РЖД" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/transneft.avif 1x, img/blocks/brands/transneft@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/transneft.webp 1x, img/blocks/brands/transneft@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/transneft.png" srcset="img/blocks/brands/transneft@2x.png 2x" alt="Транснефть" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/rosneft.avif 1x, img/blocks/brands/rosneft@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/rosneft.webp 1x, img/blocks/brands/rosneft@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/rosneft.png" srcset="img/blocks/brands/rosneft@2x.png 2x" alt="Роснефть" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/sibshakhtostroy.avif 1x, img/blocks/brands/sibshakhtostroy@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/sibshakhtostroy.webp 1x, img/blocks/brands/sibshakhtostroy@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/sibshakhtostroy.png" srcset="img/blocks/brands/sibshakhtostroy@2x.png 2x" alt="Сибшахтострой" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/gazprom.avif 1x, img/blocks/brands/gazprom@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/gazprom.webp 1x, img/blocks/brands/gazprom@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/gazprom.png" srcset="img/blocks/brands/gazprom@2x.png 2x" alt="Газпром" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
                <li class="brands__item swiper-slide">
                    <a class="brands__link" href="#">
                        <picture>
                            <source srcset="img/blocks/brands/service-company.avif 1x, img/blocks/brands/service-company@2x.avif 2x" type="image/avif">
                            <source srcset="img/blocks/brands/service-company.webp 1x, img/blocks/brands/service-company@2x.webp 2x" type="image/webp">
                            <img src="img/blocks/brands/service-company.png" srcset="img/blocks/brands/service-company@2x.png 2x" alt="Партнеры красноярска Сервисная компания" width="170" height="58" loading="lazy">
                        </picture>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>