<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__items" itemscope itemtype="https://schema.org/BreadcrumbList">
            @for (var i = 0; i < links.length; i++) { <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a class="breadcrumbs__link" href="#" itemprop="item">
                    <span itemprop="name">`+links[i]+`</span></a>
                <meta itemprop="position" content=`+[i + 1]+` />
                </li>
                }
        </ul>
    </div>
</div>