<section class="building-advantages @class section">
    <div class="container">
        <div class="building-advantages__wrapper">
            <div class="building-advantages__content">
                <h2 class="building-advantages__title title">
                    основные <span class="title__accent">преимущества</span> наших модульных зданий
                </h2>
                <div class="building-advantages__text">
                    <p>
                        Мы работаем над улучшением процессов производства и монтажа модульных зданий, стремясь к идеалу на каждом этапе. Тщательно анализируем производственные потери, ищем возможности для их минимизации и оптимизируем рабочие процессы для достижения максимальной эффективности.
                    </p>
                    <p>
                        Важной частью нашей работы является организация комфортного использования зданий в условиях любого климатического региона. Мы учитываем специфические характеристики таких мест, как Якутия, Магадан и Чукотка, разрабатывая решения, которые обеспечивают надежную эксплуатацию и комфорт для пользователей. Каждое наше модульное здание адаптируется под климатические условия, обеспечивая не только теплоизоляцию и комфорт, но и долговечность конструкции в самых суровых условиях.
                    </p>
                </div>
            </div>
            <div class="building-advantages__image">
                <picture>
                    <source srcset="img/blocks/building-advantages/building.avif 1x, img/blocks/building-advantages/building@2x.avif 2x" type="image/avif">
                    <source srcset="img/blocks/building-advantages/building.webp 1x, img/blocks/building-advantages/building@2x.webp 2x" type="image/webp">
                    <img src="img/blocks/building-advantages/building.jpg" srcset="img/blocks/building-advantages/building@2x.jpg 2x" alt="модульное здание" loading="lazy">
                </picture>
            </div>
        </div>
        <ul class="spollers" data-spollers="building-advantages-spoller" data-one-spoller>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Каркас</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                    <p>
                        Каркасы обеспечивают надежность и прочность конструкций, что способствует значительному увеличению срока эксплуатации и позволяет возводить здания до трёх этажей, тем самым сокращая площадь застройки.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Стены</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Крыша</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Пол</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Утепление</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Электрика и отопление</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>