<section class="documents section">
    <div class="container">
        <div class="documents__wrapper">
            <h2 class="documents__title title">
                Разрешительные <span class="title__accent">документы</span>
            </h2>
            <div class="documents__content">
                <ul class="documents__list">
                    <li class="documents__document">
                        <button class="documents__name" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#document">
                            </svg>
                            Система добровольной сертификации «ПрофиСерт»
                        </button>
                    </li>
                    <li class="documents__document">
                        <button class="documents__name documents__name--active" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#document">
                            </svg>
                            Система добровольной сертификации «ПрофиСерт»
                        </button>
                    </li>
                    <li class="documents__document">
                        <button class="documents__name" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#document">
                            </svg>
                            Система добровольной сертификации «ПрофиСерт»
                        </button>
                    </li>
                    <li class="documents__document">
                        <button class="documents__name" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#document">
                            </svg>
                            Система добровольной сертификации «ПрофиСерт»
                        </button>
                    </li>
                    <li class="documents__document">
                        <button class="documents__name" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#document">
                            </svg>
                            Система добровольной сертификации «ПрофиСерт»
                        </button>
                    </li>
                    <li class="documents__document">
                        <button class="documents__name" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#document">
                            </svg>
                            Система добровольной сертификации «ПрофиСерт»
                        </button>
                    </li>
                    <li class="documents__document">
                        <button class="documents__name" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#document">
                            </svg>
                            Система добровольной сертификации «ПрофиСерт»
                        </button>
                    </li>
                    <li class="documents__document">
                        <button class="documents__name" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#document">
                            </svg>
                            Система добровольной сертификации «ПрофиСерт»
                        </button>
                    </li>
                </ul>
                <div class="documents__swiper swiper">
                    <ul class="documents__items swiper-wrapper">
                        <li class="documents__item swiper-slide">
                            <a class="documents__image" href="img/blocks/documents/1@2x.jpg" data-fancybox="documents-gallery">
                                <picture>
                                    <source srcset="img/blocks/documents/1.avif 1x, img/blocks/documents/1@2x.avif 2x" type="image/avif">
                                    <source srcset="img/blocks/documents/1.webp 1x, img/blocks/documents/1@2x.webp 2x" type="image/webp">
                                    <img src="img/blocks/documents/1.jpg" srcset="img/blocks/documents/1@2x.jpg 2x" alt="Сертификат" loading="lazy">
                                </picture>
                            </a>
                        </li>
                        <li class="documents__item swiper-slide">
                            <a class="documents__image" href="img/blocks/documents/2@2x.jpg" data-fancybox="documents-gallery">
                                <picture>
                                    <source srcset="img/blocks/documents/2.avif 1x, img/blocks/documents/2@2x.avif 2x" type="image/avif">
                                    <source srcset="img/blocks/documents/2.webp 1x, img/blocks/documents/2@2x.webp 2x" type="image/webp">
                                    <img src="img/blocks/documents/2.jpg" srcset="img/blocks/documents/2@2x.jpg 2x" alt="Сертификат" loading="lazy">
                                </picture>
                            </a>
                        </li>
                        <li class="documents__item swiper-slide">
                            <a class="documents__image" href="img/blocks/documents/3@2x.jpg" data-fancybox="documents-gallery">
                                <picture>
                                    <source srcset="img/blocks/documents/2.avif 1x, img/blocks/documents/2@2x.avif 2x" type="image/avif">
                                    <source srcset="img/blocks/documents/2.webp 1x, img/blocks/documents/2@2x.webp 2x" type="image/webp">
                                    <img src="img/blocks/documents/2.jpg" srcset="img/blocks/documents/2@2x.jpg 2x" alt="Сертификат" loading="lazy">
                                </picture>
                            </a>
                        </li>
                        <li class="documents__item swiper-slide">
                            <a class="documents__image" href="img/blocks/documents/1@2x.jpg" data-fancybox="documents-gallery">
                                <picture>
                                    <source srcset="img/blocks/documents/1.avif 1x, img/blocks/documents/1@2x.avif 2x" type="image/avif">
                                    <source srcset="img/blocks/documents/1.webp 1x, img/blocks/documents/1@2x.webp 2x" type="image/webp">
                                    <img src="img/blocks/documents/1." srcset="img/blocks/documents/1@2x. 2x" alt="Сертификат" loading="lazy">
                                </picture>
                            </a>
                        </li>
                    </ul>
                    <div class="documents__buttons">
                        <button class="documents__button documents__button--prev swiper-button-prev" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#arrow">
                            </svg>
                        </button>
                        <button class="documents__button documents__button--next swiper-button-next" type="button">
                            <svg aria-hidden>
                                <use xlink:href="img/sprite.svg#arrow">
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>