<section class="geography section">
    <div class="container">
        <div class="geography__wrapper" data-tippy-parent>
            <p class="geography__subtitle">
                Мы работаем по всей России и в странах СНГ
            </p>
            <h2 class="geography__title title">
                География <span class="title__accent">проектов</span>
            </h2>
            <div class="geography__map">
                <ul class="geography__items geography__items--desktop">
                    <li class="geography__item" style="top: 12%; left: 44%;">
                        <button class="geography__button" type="button" aria-label="наши объекты" data-tippy-content>
                        </button>
                        <div class="geography__tooltip tooltip">
                            <span class="geography__name">
                                Ленинградская область
                            </span>
                            <span class="geography__info">
                                3 объекта 184 м<sup>2</sup>
                            </span>
                        </div>
                    </li>
                    <li class="geography__item" style="top: 48%; left: 15%;">
                        <button class="geography__button" type="button" aria-label="наши объекты" data-tippy-content>
                        </button>
                        <div class="geography__tooltip tooltip">
                            <span class="geography__name">
                                Ленинградская область
                            </span>
                            <span class="geography__info">
                                3 объекта 184 м<sup>2</sup>
                            </span>
                        </div>
                    </li>
                    <li class="geography__item" style="top: 64%; left: 45%;">
                        <button class="geography__button" type="button" aria-label="наши объекты" data-tippy-content>
                        </button>
                        <div class="geography__tooltip tooltip">
                            <span class="geography__name">
                                Ленинградская область
                            </span>
                            <span class="geography__info">
                                3 объекта 184 м<sup>2</sup>
                            </span>
                        </div>
                    </li>
                    <li class="geography__item" style="top: 72%; left: 78%;">
                        <button class="geography__button" type="button" aria-label="наши объекты" data-tippy-content>
                        </button>
                        <div class="geography__tooltip tooltip">
                            <span class="geography__name">
                                Ленинградская область
                            </span>
                            <span class="geography__info">
                                3 объекта 184 м<sup>2</sup>
                            </span>
                        </div>
                    </li>
                </ul>
                <img class="geography__img" src="img/blocks/map.svg" alt="Карта" loading="lazy">
            </div>
            <div class="geography__statistics">
                <span class="geography__numbers">209</span>
                <span class="geography__subtext">обеъктов</span>
            </div>
        </div>
    </div>
</section>