<section class="geography section">
    <div class="container">
        <div class="geography__wrapper">
            <p class="geography__subtitle">
                Мы работаем по всей России и в странах СНГ
            </p>
            <h2 class="geography__title title">
                География <span class="title__accent">проектов</span>
            </h2>
            <div class="geography__map">
                <img class="geography__img" src="img/blocks/map.svg" alt="Карта" loading="lazy">
            </div>
            <div class="geography__info">
                <span class="geography__numbers">209</span>
                <span class="geography__subtext">обеъктов</span>
            </div>
        </div>
    </div>
</section>