<@tag class="hero @class" style="background-image: url('img/blocks/hero/@bg.jpg');">
    <div class="hero__container container">
        <div class="hero__wrapper">
            <div class="hero__descr">
                <@titleTag class="hero__heading heading">
                    @title
                </@titleTag>

                @if(typeof text !== 'undefined' && text) {
                <div class="hero__text">
                    @for (var i = 0; i < text.length; i++) { <p> `+text[i]+` </p> }
                </div>
                }

                @if(typeof list !== 'undefined' && list) {
                <ul class="hero__items">
                    @for (var i = 0; i < list.length; i++) { <li class="hero__item"> `+list[i]+` </li> }
                </ul>
                }
            </div>
            <form class="hero__form form">
                <div class="form__header">
                    <span class="form__title">
                        1 М<sup>2</sup> от 29 700 ₽
                    </span>
                    <p class="form__text">
                        Оставьте свои контактные данные и получите проект в 
                        <span class="form__accent">подарок</span>
                    </p>
                </div>
                <div class="form__body">
                    <div class="form__item">
                        <label class="sr-only" for="@name-id">Введите ваше имя</label>
                        <input class="form__field" id="@name-id" name="name" type="text" placeholder="Ваше имя" required>
                    </div>
                    <div class="form__item">
                        <label class="sr-only" for="@phone-id">
                            Введите ваш номер телефона
                        </label>
                        <input class="form__field" id="@phone-id" name="phone" type="tel" placeholder="Ваш телефон" required>
                    </div>
                    <div class="form__item">
                        <label class="sr-only" for="@email-id">
                            Введите вашу электронную почту
                        </label>
                        <input class="form__field" id="@email-id" name="email" type="email" placeholder="Ваш email" required>
                    </div>
                    <label class="form__item form__item--checkbox">
                        <input class="form__hidden" type="checkbox" name="police" value="true" required>
                        <span class="form__visible" aria-hidden="true"></span>
                        <span>
                            Я подтверждаю ознакомление <a href="https://a-gama.ru/privacy-policy/" target="_blank">с Политикой конфиденциальности</a> и даю согласие на обработку персональных данных
                        </span>
                    </label>
                    <label class="form__item form__item--checkbox">
                        <input class="form__hidden" type="checkbox" name="advertising" value="true" required>
                        <span class="form__visible" aria-hidden="true"></span>
                        <span>
                            Я даю согласие на получение <a href="https://a-gama.pro/soglasie" target="_blank">информационных и рекламных материалов</a>
                        </span>
                    </label>
                </div>
                <button class="form__button button" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</@tag>