<section class="plans section">
    <div class="container">
        <h2 class="plans__title title">
            Типовые <span class="title__accent">планировки</span>
        </h2>
        <ul class="plans__items">
            <li class="plans__item">
                @include('../../components/cards/_plan-card.html', {
                'title': 'АБК 600 м2 (2 этажа)',
                'list': ['от 29 700 ₽', '46 модулей', '292, 56 м<sup>2</sup>']
                })
            </li>
            <li class="plans__item">
                @include('../../components/cards/_plan-card.html', {
                'title': 'АБК 600 м2 (2 этажа)',
                'list': ['от 29 700 ₽', '46 модулей', '292, 56 м<sup>2</sup>']
                })
            </li>
            <li class="plans__item">
                @include('../../components/cards/_plan-card.html', {
                'title': 'АБК 600 кв.м. (2 этажа) АБК 600 кв.м. (2 этажа)',
                'list': ['от 29 700 ₽', '46 модулей', '292, 56 м<sup>2</sup>']
                })
            </li>
            <li class="plans__item">
                @include('../../components/cards/_plan-card.html', {
                'title': 'АБК 600 кв.м. (2 этажа) АБК 600 кв.м. (2 этажа)',
                'list': ['от 29 700 ₽', '46 модулей', '292, 56 м<sup>2</sup>']
                })
            </li>
            <li class="plans__item">
                @include('../../components/cards/_plan-card.html', {
                'title': 'АБК 600 кв.м. (2 этажа)',
                'list': ['от 29 700 ₽', '46 модулей', '292, 56 м<sup>2</sup>', '292, 56 м<sup>2</sup>', '292, 56 м<sup>2</sup>']
                })
            </li>
            <li class="plans__item">
                @include('../../components/cards/_plan-card.html', {
                'title': 'АБК 600 кв.м. (2 этажа)',
                'list': ['от 29 700 ₽', '46 модулей', '292, 56 м<sup>2</sup>', '292, 56 м<sup>2</sup>']
                })
            </li>
            <li class="plans__item">
                @include('../../components/cards/_plan-card.html', {
                'title': 'АБК 600 кв.м. (2 этажа)',
                'list': ['от 29 700 ₽', '46 модулей', '292, 56 м<sup>2</sup>']
                })
            </li>
            <li class="plans__item">
                @include('../../components/cards/_plan-card.html', {
                'title': 'АБК 600 кв.м. (2 этажа)',
                'list': ['от 29 700 ₽', '46 модулей', '292, 56 м<sup>2</sup>']
                })
            </li>
        </ul>
    </div>
</section>