<section class="promo">
    <div class="container">
        <div class="promo__wrapper">
            <h2 class="promo__title">
                Оставьте заяку и наш специалист оперативно с вами свяжется
            </h2>
            <form class="form">
                <div class="form__body">
                    <div class="form__items">
                        <div class="form__item">
                            <label class="sr-only" for="promo-name">Введите ваше имя</label>
                            <input class="form__field" id="promo-name" name="name" type="text" placeholder="Ваше имя" required>
                        </div>
                        <div class="form__item">
                            <label class="sr-only" for="promo-phone">
                                Введите ваш номер телефона
                            </label>
                            <input class="form__field" id="promo-phone" name="phone" type="tel" placeholder="Ваш телефон" required>
                        </div>
                        <div class="form__item">
                            <label class="sr-only" for="promo-email">
                                Введите вашу электронную почту
                            </label>
                            <input class="form__field" id="promo-email" name="email" type="email" placeholder="Ваш email" required>
                        </div>
                    </div>
                    <button class="form__button button" type="button">
                        Отправить
                    </button>
                </div>
                <p class="form__subtext">
                    Нажимая на кнопку, вы даёте согласие на обработку персональных данных и соглашаетесь c <a href="#">политикой конфиденциальности</a>
                </p>
            </form>
        </div>
    </div>
</section>