<section class="questions section">
    <div class="container">
        <h2 class="questions__title title">
            Часто задаваемые <span class="title__accent">вопросы</span>
        </h2>
        <ul class="spollers" data-spollers="questions-spoller" data-one-spoller>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Вопрос 1</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                    <p>
                        Каркасы обеспечивают надежность и прочность конструкций, что способствует значительному увеличению срока эксплуатации и позволяет возводить здания до трёх этажей, тем самым сокращая площадь застройки.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Вопрос 2</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Вопрос 3</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Вопрос 4</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Вопрос 5</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Вопрос 6</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Вопрос 7</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
            <li class="spollers__item">
                <button class="spollers__button" type="button" data-spoller-button>
                    <span>Вопрос 8</span>
                </button>
                <div class="spollers__body">
                    <p>
                        Каркасы наших зданий в зависимости от назначения и условий эскплуатации могут отличаться. В стандартном исполнении применяется металлический сложногнутый (специальный) профиль, или гарячекатанный швеллер. Стойки из гнутого профиля специального сечения толщиной 3мм.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>