<section class="realized-projects @class section">
    <div class="container">
        <div class="realized-projects__header">
            <h2 class="realized-projects__title title">
                Реализованные
                <span class="title__accent">
                    проекты
                </span>
            </h2>
            <p class="realized-projects__text">
                Компания Амальгама занимается строительством быстровозводимых зданий — 100% «под ключ»!
            </p>
        </div>
        <div class="tabs" data-tabs="realized-projects">
            <ul class="tabs__nav">
                <li class="tabs__nav-item">
                    <button class="tabs__nav-btn button button--secondary" type="button">
                        Вахтовые посёлки
                    </button>
                </li>
                <li class="tabs__nav-item">
                    <button class="tabs__nav-btn button button--secondary" type="button">
                        Модульные здания
                    </button>
                </li>
                <li class="tabs__nav-item">
                    <button class="tabs__nav-btn button button--secondary" type="button">
                        Отдельные блоки-модули
                    </button>
                </li>
            </ul>
            <div class="tabs__content">
                <div class="tabs__panel">
                    <div class="realized-projects__wrapper">
                        <div class="realized-projects__swiper swiper">
                            <ul class="realized-projects__items swiper-wrapper">
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '1',
                                    'alt': 'Модульные здания',
                                    'deadline': '3 месяца',
                                    'size': '951,6м<sup>2</sup>',
                                    'title': 'Модульные здания реального назначения',
                                    'text': 'Чукотский АО, Баимское месторождение'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '2',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '6 месяцев',
                                    'size': '48 модулей',
                                    'title': 'Вахтовый городок',
                                    'text': 'НСО, посёлок Новолуговое'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '3',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '2 месяца',
                                    'size': '585,5м<sup>2</sup>',
                                    'title': 'Вахтовый городок на полозьях',
                                    'text': 'П. Пымта, Камчатский край'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '4',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '2 месяца',
                                    'size': '585,5м<sup>2</sup>',
                                    'title': 'Вахтовый городок на полозьях',
                                    'text': 'П. Пымта, Камчатский край'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '1',
                                    'alt': 'Модульные здания',
                                    'deadline': '3 месяца',
                                    'size': '951,6м<sup>2</sup>',
                                    'title': 'Модульные здания реального назначения',
                                    'text': 'Чукотский АО, Баимское месторождение'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '2',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '6 месяцев',
                                    'size': '48 модулей',
                                    'title': 'Вахтовый городок',
                                    'text': 'НСО, посёлок Новолуговое'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '3',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '2 месяца',
                                    'size': '585,5м<sup>2</sup>',
                                    'title': 'Вахтовый городок на полозьях',
                                    'text': 'П. Пымта, Камчатский край'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '4',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '2 месяца',
                                    'size': '585,5м<sup>2</sup>',
                                    'title': 'Вахтовый городок на полозьях',
                                    'text': 'П. Пымта, Камчатский край'
                                    })
                                </li>
                            </ul>
                            <div class="realized-projects__buttons">
                                <button class="realized-projects__button realized-projects__button--prev swiper-button-prev" type="button">
                                    <svg aria-hidden>
                                        <use xlink:href="img/sprite.svg#arrow">
                                    </svg>
                                </button>
                                <button class="realized-projects__button realized-projects__button--next swiper-button-next" type="button">
                                    <svg aria-hidden>
                                        <use xlink:href="img/sprite.svg#arrow">
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__panel">
                    <div class="realized-projects__wrapper">
                        <div class="realized-projects__swiper swiper">
                            <ul class="realized-projects__items swiper-wrapper">
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '1',
                                    'alt': 'Модульные здания',
                                    'deadline': '3 месяца',
                                    'size': '951,6м<sup>2</sup>',
                                    'title': 'Модульные здания реального назначения',
                                    'text': 'Чукотский АО, Баимское месторождение'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '2',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '6 месяцев',
                                    'size': '48 модулей',
                                    'title': 'Вахтовый городок',
                                    'text': 'НСО, посёлок Новолуговое'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '3',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '2 месяца',
                                    'size': '585,5м<sup>2</sup>',
                                    'title': 'Вахтовый городок на полозьях',
                                    'text': 'П. Пымта, Камчатский край'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '4',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '2 месяца',
                                    'size': '585,5м<sup>2</sup>',
                                    'title': 'Вахтовый городок на полозьях',
                                    'text': 'П. Пымта, Камчатский край'
                                    })
                                </li>
                            </ul>
                            <div class="realized-projects__buttons">
                                <button class="realized-projects__button realized-projects__button--prev swiper-button-prev" type="button">
                                    <svg aria-hidden>
                                        <use xlink:href="img/sprite.svg#arrow">
                                    </svg>
                                </button>
                                <button class="realized-projects__button realized-projects__button--next swiper-button-next" type="button">
                                    <svg aria-hidden>
                                        <use xlink:href="img/sprite.svg#arrow">
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__panel">
                    <div class="realized-projects__wrapper">
                        <div class="realized-projects__swiper swiper">
                            <ul class="realized-projects__items swiper-wrapper">
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '1',
                                    'alt': 'Модульные здания',
                                    'deadline': '3 месяца',
                                    'size': '951,6м<sup>2</sup>',
                                    'title': 'Модульные здания реального назначения',
                                    'text': 'Чукотский АО, Баимское месторождение'
                                    })
                                </li>
                                <li class="realized-projects__item swiper-slide">
                                    @include('../../components/cards/_realize-card.html', {
                                    'img': '2',
                                    'alt': 'Вахтовый городок',
                                    'deadline': '6 месяцев',
                                    'size': '48 модулей',
                                    'title': 'Вахтовый городок',
                                    'text': 'НСО, посёлок Новолуговое'
                                    })
                                </li>
                            </ul>
                            <div class="realized-projects__buttons">
                                <button class="realized-projects__button realized-projects__button--prev swiper-button-prev" type="button">
                                    <svg aria-hidden>
                                        <use xlink:href="img/sprite.svg#arrow">
                                    </svg>
                                </button>
                                <button class="realized-projects__button realized-projects__button--next swiper-button-next" type="button">
                                    <svg aria-hidden>
                                        <use xlink:href="img/sprite.svg#arrow">
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>