.burger-menu {
	@include flex-alignment(40px);

	@include mq(xl) {
		position: fixed;
		right: 0;
		top: 0;
		flex-direction: column;
		justify-content: flex-start;
		overflow: hidden;
		padding: 54px 24px 24px;
		width: 100%;
		max-width: 320px;
		background-color: var(--color-blue-50);
		visibility: hidden;
		transform: translateX(100%);
		transition: transform 0.5s;
		gap: 30px;

		@include mq(sm) {
			max-width: 100%;
		}
	}

	&--active {
		@include mq(xl) {
			right: 0;
			z-index: 50;
			overflow-y: auto;
			height: 100vh;
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
			transition: transform 0.3s ease-in-out;
		}
	}

	&__items {
		@include flex-alignment;

		@include mq(xl) {
			flex-direction: column;
			gap: 24px;
		}
	}

	a {
		@include link;
	}
}
