.burger-button {
	--burger-width: 30px;
	--burger-height: 30px;
	--burger-line-height: 2px;
	--burger-border-radius: 4px;
	--burger-color: var(--color-blue-300);

	position: relative;
	right: 0;
	top: 0;
	border-radius: var(--burger-border-radius);
	width: var(--burger-width);
	height: var(--burger-height);
	color: var(--burger-color);
	transition:
		top 0.4s,
		right 0.4s;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		border-radius: inherit;
		width: 100%;
		height: var(--burger-line-height);
		background-color: currentcolor;
		transition:
			transform 0.3s ease-in-out,
			top 0.3s ease-in-out;
	}

	&::before {
		top: 0;
	}

	&::after {
		top: calc(100% - var(--burger-line-height));
	}

	@include mq(xl, min) {
		display: none;
	}

	&__line {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: var(--burger-line-height);
		background-color: currentcolor;
		transform: translateY(-50%);
		transition: transform 0.3s ease-in-out;
	}

	&--active {
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 50;

		&::before,
		&::after {
			top: 50%;
			transition:
				transform 0.3s ease-in-out,
				top 0.3s ease-in-out;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		.burger-button__line {
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}
	}
}
