.burger-button {
	--burger-width-button: 44px;
	--burger-height-button: 44px;
	--burger-width: 30px;
	--burger-line-height: 2px;
	--burger-border-radius: 4px;
	--burger-color: var(--color-blue-300);

	position: relative;
	right: 0;
	top: 0;
	border-radius: var(--burger-border-radius);
	width: var(--burger-width-button);
	height: var(--burger-height-button);
	color: var(--burger-color);

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		border-radius: inherit;
		width: var(--burger-width);
		height: var(--burger-line-height);
		background-color: currentcolor;
	}

	&::before {
		top: 13px;
	}

	&::after {
		top: 30px;
	}

	@include mq(xl, min) {
		display: none;
	}

	&__line {
		position: absolute;
		left: 0;
		top: 50%;
		width: var(--burger-width);
		height: var(--burger-line-height);
		background-color: currentcolor;
		transform: translateY(-50%);
	}

	&--active {
		position: absolute;
		right: 8px;
		top: 8px;
		z-index: 50;

		&::before,
		&::after {
			top: 50%;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		.burger-button__line {
			transform: scale(0);
		}
	}
}
