.modular-advantages {
	.block-info {
		&__subtext {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.6;
			color: var(--color-blue-200);

			ul,
			ol {
				list-style: outside;
				padding-left: 16px;
			}

			li {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}
	}
}
