.planning-block {
	&__wrapper {
		@include flex-simple;

		@include mq(lg) {
			flex-direction: column;
			gap: 24px;
		}

		&:not(:last-child) {
			margin-bottom: 32px;

			@include mq(lg) {
				margin-bottom: 24px;
			}
		}
	}

	.planning-slider {
		@include mq(lg, min) {
			width: 66%;
		}
	}

	&__about {
		@include mq(lg, min) {
			flex-grow: 1;
			width: 40%;
		}
	}

	.characteristics {
		@include grid(repeat(3, 1fr), 0 30px);

		counter-reset: characteristics;
		grid-auto-flow: column;
		grid-template-rows: repeat(7, auto);

		@include mq(lg) {
			display: block;
		}

		&__item {
			align-items: center;
			padding-left: 20px;

			@include mq(lg) {
				padding-left: 8px;
			}
		}

		&__key {
			position: relative;

			&::before {
				counter-increment: characteristics;
				content: counter(characteristics) '.';
			}
		}
	}
}
