.heading,
.subtitle {
	display: inline-block;
	font-family: var(--font-secondary);
	line-height: 1.2;
}

.heading {
	font-weight: 700;
	font-size: 44px;
	text-transform: uppercase;
	color: var(--color-white);

	@include mq(lg) {
		font-size: 36px;
	}

	@include mq(md) {
		font-size: 32px;
	}
}

.subtitle {
	font-weight: 500;
	font-size: 24px;
}
