.our-contacts {
	&__wrapper {
		@include flex-simple;

		justify-content: space-between;

		@include mq(xl) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__map {
		border-radius: 16px;
		width: 100%;
		min-height: 300px;
		max-width: 488px;

		@include mq(xl) {
			border-radius: 8px;
			height: 420px;
			min-height: auto;
			max-width: 100%;
		}

		@include mq(sm) {
			height: 360px;
		}

		div,
		iframe {
			border: 0;
			border-radius: inherit;
			width: 100%;
			height: 100%;
		}
	}

	&__inner {
		@include flex-simple;

		justify-content: space-between;
		width: 100%;
		max-width: 810px;

		@include mq(xl) {
			max-width: 100%;
		}

		@include mq(sm) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__items {
		@include flex-simple(16px, column);

		width: 100%;

		@include mq(xl, min) {
			max-width: 212px;
		}

		&--phone,
		&--email {
			.our-contacts__subtitle {
				color: var(--color-orange-500);
			}

			a.our-contacts__subtitle {
				outline: 0;
				border-radius: 4px;
				transition:
					color 0.3s,
					box-shadow 0.3s;

				&:focus-visible {
					box-shadow: 0 0 0 1px var(--color-orange-500);
				}

				@media (any-hover: hover) {
					&:hover {
						color: var(--color-orange-200);
					}
				}
			}
		}

		&--addresses {
			@include mq(xl, min) {
				max-width: 306px;
			}
		}

		@include mq(md) {
			gap: 12px;
		}
	}

	&__item {
		border-bottom: 1px solid var(--color-blue-100);
		padding-bottom: 16px;

		@include mq(md) {
			padding-bottom: 12px;
		}
	}

	&__subtitle {
		display: block;
		max-width: fit-content;
		font-size: 18px;

		@include mq(lg) {
			font-size: 16px;
		}

		&:not(:last-child) {
			margin-bottom: 2px;
		}
	}

	&__subtext {
		font-size: 14px;
		line-height: 1.4;
	}
}
