.news-block {
	background-color: var(--color-blue-50);

	&__header {
		@include flex-alignment(30px, space-between, flex-start);

		margin-bottom: 32px;

		@include mq(md) {
			flex-direction: column;
			margin-bottom: 24px;
			gap: 12px;
		}
	}

	&__title {
		margin-bottom: 0;

		@include mq(lg) {
			margin-bottom: 0;
		}
	}

	&__all {
		@include mq(md) {
			width: 100%;
		}

		&--desktop {
			@include mq(md) {
				display: none;
			}
		}

		&--mobile {
			display: none;

			@include mq(md) {
				display: flex;
			}
		}

		svg {
			color: var(--color-orange-200);
		}
	}

	&__wrapper {
		@include flex-alignment(30px, space-between, flex-start);

		@include mq(lg) {
			flex-direction: column;
		}

		@include mq(md) {
			margin-bottom: 20px;
		}
	}

	&__video {
		@include resize-video(57%);

		align-self: stretch;
		border-radius: 20px;
		padding-bottom: 31%;
		width: 100%;
		max-width: 654px;

		@include mq(lg) {
			@include resize-video(57%);

			max-width: 100%;
		}
	}

	&__items {
		@include flex-simple(16px, column);

		width: 100%;

		@include mq(lg, min) {
			max-width: 655px;
		}
	}

	&__item {
		align-self: flex-start;
		width: 100%;
	}
}
