.news-block {
	background-color: var(--color-blue-50);

	&__header {
		@include flex-alignment(30px, space-between, flex-start);

		margin-bottom: 32px;

		@include mq(md) {
			flex-direction: column;
			margin-bottom: 24px;
			gap: 12px;
		}
	}

	&__title {
		margin-bottom: 0;

		@include mq(lg) {
			margin-bottom: 0;
		}
	}

	&__all {
		@include mq(md) {
			width: 100%;
		}

		svg {
			color: var(--color-orange-200);
		}
	}

	&__wrapper {
		@include flex-alignment(30px, space-between, flex-start);

		@include mq(lg) {
			flex-direction: column-reverse;
		}
	}

	&__video {
		position: relative;
		border-radius: 20px;
		padding-bottom: 57%;
		width: 100%;

		@include mq(lg, min) {
			padding-bottom: 28%;
			max-width: 654px;
		}

		video {
			position: absolute;
			inset: 0;
			border-radius: inherit;
			width: 100%;
			height: 100%;
		}
	}

	&__items {
		@include flex-simple(16px, column);

		width: 100%;

		@include mq(lg, min) {
			max-width: 584px;
		}
	}

	&__item {
		align-self: flex-start;
		width: 100%;
	}
}
