@mixin link {
	transition:
		color 0.3s,
		box-shadow 0.3s;

	&:focus-visible {
		box-shadow: 0 0 0 1px var(--color-orange-500);
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--color-orange-500);
		}
	}
}

@mixin paragraph-mb($mb: 12px, $amb: 6px) {
	p {
		&:not(:last-child) {
			margin-bottom: $mb;

			@include mq(md) {
				margin-bottom: $amb;
			}
		}
	}
}

@mixin circle($sizes: 8px) {
	content: '';
	position: absolute;
	left: 0;
	top: 6px;
	border-radius: 50%;
	width: $sizes;
	height: $sizes;
	background-color: var(--color-orange-500);
}
